@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: -1px;
}

#__nuxt {
  font-family: $font-main;
  font-size: fluid(22, 18);
  line-height: 1.2;
  background-color: $color-background;
  color: $color-text;
  padding: rem(20);
}

body.lock-scroll {
  overflow: hidden;
}

.content {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  color: $color-text;
  cursor: pointer;
}

nuxt-link {
  cursor: pointer;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: fluid(44, 32);
  font-weight: 600;
}

h2 {
  font-size: fluid(38, 30);
  font-weight: 500;
}

h3 {
  font-size: fluid(32, 26);
  font-weight: 500;
}

h4 {
  font-size: fluid(28, 24);
  font-weight: 500;
}

caption, .caption {
  font-size: fluid(16, 12);
  line-height: 1.1;
}

select {
  background-color: transparent;
  color: $color-text;
  font-size: fluid(24, 18);
  border: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

ol, ul {
  margin: 0;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.plug {
  flex-grow: 1;
}

::selection {
  color: var(--color-light-blue);
  background-color: var(--color-dark-grey-blue);
}

::-moz-selection {
  color: var(--color-light-blue);
  background-color: var(--color-dark-grey-blue);
}

::-webkit-scrollbar {
  width: rem(20);
  height: rem(20);
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: rem(16);
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border: rem(4) solid $color-background;
  border-radius: 1000rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-text;
}
