@import './functions.scss';

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-extra-light-blue: #ecf7fe;
  --color-light-blue: #cee4f2;
  --color-accent-blue: #0a7abc;
  --color-accent-blue-20: #0a7abc33;
  --color-dark-grey-blue: #18222f;
  --color-grey: #a2bbca;
  --color-dark-grey: #62687c;
  --color-red: #ff4848;
}

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1440px;

$color-text: var(--color-black);
$color-background: var(--color-white);
$font-main: 'Lato', 'Arial', sans-serif;
$transition-time: 0.3s;
$content-width: $xxl;
$min-width: $xs;

@mixin bp-sm { @media (max-width: $sm) { @content; } }
@mixin bp-md { @media (max-width: $md) { @content; } }
@mixin bp-lg { @media (max-width: $lg) { @content; } }
@mixin bp-xl { @media (max-width: $xl) { @content; } }
@mixin bp-xxl { @media (max-width: $xxl) { @content; } }
